@import "lib";

* {
  box-sizing: border-box;

}

a {
  &:hover {
    text-decoration: none;
  }

  text-decoration: none;
}

body {
  font-family: 'Geometria';
  background-color: white;
  font-size: 14px;
}

.overlay {
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(26, 26, 26, 0.5);
    z-index: 100;
  }
}


ul {
  padding-inline-start: 0;
  margin: 0;

}

li {
  list-style: none;

}

.hiden_menu {
  width: 555px;
  overflow: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  background-color: #fff;
}

.active {
  display: block !important;
}

.active::after {
  transform: rotate(-180deg);
}

.hiden_menu_iner {
  width: 100%;
  position: relative;

  ul {
    padding: 30px 0;
  }

  li {
    padding: 30px 0px 30px 60px;

    a {
      display: block;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 3px;
      color: #1a1a1a;
      font-family: 'Geometria-Bold';
      text-transform: uppercase;
    }

    .child {
      display: none;
    }

    .item {
      position: relative;

      &:after {
        content: '\e900';
        text-align: center;
        font-family: icomoon;
        font-size: 6px;
        position: absolute;
        top: 1px;
        right: 60px;
      }

    }

    ul {
      padding-bottom: 0px;

      li {
        padding: 0px;
        padding-bottom: 15px;

        a {
          color: #999999;
          text-transform: none;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0px;
          font-family: 'Geometria';

        }

        &:last-child {
          padding-bottom: 0px;
        }
      }

    }
  }

  .close_btn {
    &:after {
      content: '\e919';
      font-size: 15px;
      color: #1a1a1a;
      position: absolute;
      font-family: icomoon;
      right: 30px;
      top: 30px;
      cursor: pointer;
    }

  }
}



header {
  padding-top: 15px;
}

.header_top {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: solid 1px #e6e6e6;
}

.top-left {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
  height: 100%;
  align-items: center;
}

.menu-logo {

  a {
    font-family: 'Geometria-Medium';
    margin-right: 115px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.5px;
    color: #1a1a1a;
    padding-left: 35px;

    &:before {
      content: "\e918";
      font-family: 'icomoon';
      font-size: 28px;
      position: absolute;
      left: 0;
      font-weight: normal;
      top: -6px;
    }
  }

}

.logo {
  display: flex;
  flex: 1 1 auto;
  padding-left: 20px;
}

.phone {
  font-size: 16px;
  font-family: 'Geometria';
  letter-spacing: 0.5px;
  color: #1a1a1a;
}

.top-right {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;

  button {
    outline: none;
  }

  ul {
    display: inline-block;
  }

  li {
    display: inline-block;
  }
;
}

.search {
  &:before {
    content: "\e90a";
    font-family: 'icomoon';
  }
}

.heart {
  &:before {
    content: "\e906";
    font-family: 'icomoon';
  }
}

.bag {
  &:before {
    content: "\e911";
    font-family: 'icomoon';
  }
}

.user {
  &:before {
    content: "\e915";
    font-family: 'icomoon';
  }
}

.icons {
  border-right: 1px solid #e6e6e6;

  a {
    position: relative;

    span {
      left: -31px;
      top: -12px;
      position: absolute;
      z-index: 10;
      text-align: center;
      min-height: 15px;
      min-width: 15px;
      display: inline-block;
      border-radius: 50%;
      font-family: Geometria-Bold, sans-serif;
      background-color: #e83c4d;
      color: #ffffff;
      font-size: 10px;


    }

    &:before {
      font-size: 24px;
      color: #1a1a1a;
      margin-right: 20px;

    }

    &:hover:before {
      color: #e83c4d;
    }
  }
}

.select {
  font-family: Geometria-Bold, sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  position: relative;

  a {
    color: #1a1a1a;
  }

  .currency {
    margin-left: 18px;
    padding-right: 17px;
    margin-right: 17px;
    position: relative;

    &:after {
      position: absolute;
      font-size: 5px;
      content: "\e900";
      font-family: 'icomoon';
      top: calc(50% - 3px);
      right: 2px;
    }

  }

  .currency_list {
    display: none;
    position: absolute;
    left: 20px;
    bottom: -45px;
  }

  .lang_list {
    display: none;
    position: absolute;
    right: 5px;
    bottom: -45px;
  }

  li {
    display: block;
  }

  .lang {
    position: relative;
    padding-right: 15px;

    &:after {

      position: absolute;
      font-size: 5px;
      content: "\e900";
      font-family: 'icomoon';
      top: calc(50% - 3px);
      right: 2px;
    }
  }

}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #1a1a1a;
  line-height: 1;
}

.header_bottom {


  a {
    padding: 20px 0px;
    display: inline-block;
    font-family: Geometria-Bold;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3px;
    color: #1a1a1a;

  }

  ul {
    display: flex;
    justify-content: space-between;
  }
}

.header_bottom ul > li:nth-child(4) a {
  color: #e83c4d;
}


.hidden_menu {

  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 10;
  width: 100vw;
  padding: 60px 0px;
  display: none;

  &:hover {
    display: block;
  }

  .container {
    display: flex;
    justify-content: space-around;

  }

  .hidden_item {
    padding-right: 60px;
    border-right: 1px solid #e6e6e6;
  }

  .hidden_item:last-child {
    padding-right: 0px;
    border: none;
  }

  a {
    color: #1a1a1a;

    &:hover {
      color: #e83c4d;
    }
  }

  .hidden_text {
    text-transform: uppercase;
    font-family: 'Geometria-Bold';
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    padding-top: 30px;
  }

  .hidden_icons {
    text-align: center;
  }
}

.header_bottom {
  ul {
    li {
      a {
        &:hover + {
          .hidden_menu {
            display: block;
          }
        }
      }
    }
  }
}

.default-btn {
  a {
    min-width: 224px;
    font-family: 'Geometria-Bold';
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    padding: 20px 0px 26px 0px;
    background-color: #ffffff;
    color: #1a1a1a;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
  }

  a:hover {
    background-color: #e83c4d;;
  }
}

.slider {
  margin-bottom: 30px;
}

.slider-item {


  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;


}

.top_prod {
  text-transform: uppercase;
  font-family: 'Geometria-Bold';
  margin-bottom: 60px;

  .prod-title {

    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3px;
    color: #1a1a1a;
    text-align: center;

  }
}

.prod-togle {
  cursor: pointer;
  float: right;
  display: flex;
  align-items: center;
  margin-top: -25px;
  letter-spacing: 2px;
  color: #999999;

  &:after {
    content: " ";
    clear: both;
    display: block;
  }

  .active {
    color: #1a1a1a;
  }

}

.togle {
  margin-left: 20px;
  padding: 5px;
}

.our_prod {
  margin-top: 60px;
  margin-bottom: 90px;
}

.prod-items {
  text-align: center;
}

.prod-item {
  max-width: 265px;
  margin: 0px 15px;
  text-align: center;
  position: relative;

  &:before {
    content: "NEW";
    position: absolute;
    top: 30px;
    left: 20px;
    text-transform: uppercase;
    font-family: 'Geometria-Bold';
    color: #1a1a1a;
    font-size: 14px;
  }
}

.prod-img {
  border: solid 1px #e6e6e6;
}

.prod-title {

  a {
    color: #1a1a1a;
    padding: 8px 0;
    margin-top: 15px;
    margin-bottom: 2px;


  }
}

.slider-item .default-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.prod-price {
  margin-top: 7px;
  a {
    font-family: 'Geometria-Bold';

    font-size: 16px;
    line-height: 16px;
    color: #1a1a1a;
    text-align: center;
  }
}

.prod-items {
  display: none;
}

.prod-slider {

  position: relative;

  .slick-dots li.slick-active button:before {

    color: black;
  }

  .slick-dots li button:before {
    color: #cccccc;
  }


  .slick-dots {
    bottom: -45px;
  }

}

.slick-next {
  width: 45px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: -5px;
  z-index: 3;
  transform: translateY(-50%) rotate(-90deg);

  &:before {

    content: '\e900';
    font-family: 'icomoon';
    font-size: 7px;
    z-index: 3;
  }
}

.slick-prev {
  width: 45px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 3;
  transform: translateY(-50%) rotate(90deg);

  &:before {
    content: '\e900';
    font-family: 'icomoon';
    font-size: 7px;

  }
}

.advantages {
  background-color: #f6f4f4;
  padding: 60px 0px;

  .container::before, .container::after {
    content: '';
    width: 100%;
    order: 1;
  }
}

.advantages-iner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;

  .item {
    padding: 0px 15px;
    border-right: 1px solid #e6e6e6;

  }

  .item_no_border {
    border: none;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Geometria-Bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .text {
    line-height: 18px;
    color: #999999;
    letter-spacing: 1px;
  }

  .img-1 {
    &:before {
      content: "\e909";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

  .img-2 {
    &:before {
      content: "\e905";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

  .img-3 {
    &:before {
      content: "\e903";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

  .img-4 {
    &:before {
      content: "\e90b";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

  .img-5 {
    &:before {
      content: "\e910";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

  .img-6 {
    &:before {
      content: "\e908";
      font-family: 'icomoon';
      font-size: 40px;
    }
  }

}

.news {
  padding-top: 60px;
}

.news_items {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.news_item {
  max-width: 555px;
  width: 100%;
  text-align: center;
}

.news_title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #1a1a1a;

  &:hover {
    color: #e83c4d;
  }

  padding: 15px 30px;
}

.img-respons {
  max-width: 100%;
  height: auto;
}

.news_text {
  font-size: 14px;
  font-family: Geometria, sans-serif;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: center;
  color: #1a1a1a;
  padding: 0 30px;
}

.news_top_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #1a1a1a;
}

.black {
  text-align: center;

  a {
    background-color: #1a1a1a;
    color: #fff;


  }
}

.about {

  background-color: #f6f4f4;
  padding: 60px 0px;
  margin-top: 60px;

  .title {

    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-family: 'Geometria-Bold';

  }

  .content {
    font-style: italic;
    padding-bottom: 40px;
  }

  .container {
    p {
      line-height: 20px;
      text-align: center;
      padding-bottom: 20px;
    }
  }

}

.Line_of_socks {
  padding: 60px 0;

  .title {
    text-transform: uppercase;
    font-family: 'Geometria-Bold';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 3px;
    color: #1a1a1a;
    margin-bottom: 60px;
  }

  .items {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .item {
      width: 12.5%;
    }

    .item_cont {

      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      position: relative;

      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }

    }
  }

}

.email_letter {
  margin-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .email_title {
      margin-right: 46px;
      text-transform: uppercase;
      font-family: 'Geometria-Bold';
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 2px;
      color: #1a1a1a;
    }

    .email_form {

      flex: 1 1 auto;
      position: relative;


      .email_form_input {
        border: 1px solid #e6e6e6;
        color: #b3b3b3;
        padding: 19px 20px;
        line-height: 14px;
        font-size: 14px;
        width: 100%;
      }

      .email_form_btn {
        position: absolute;
        right: 20px;
        top: 50%;

        &:after {
          position: absolute;
          top: 50%;
          content: '\e900';
          font-family: icomoon;
          transform: rotate(-90deg);
          color: #1a1a1a;
          font-size: 6px;
        }
      }
    }
  }

}

.footer {
  .footer_top {
    padding-bottom: 60px;

  }

  .container {
    .items {
      display: flex;
      justify-content: space-between;
      position: relative;

      .item {
        .title {
          text-transform: uppercase;
          font-family: 'Geometria-Bold';
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 2px;
          color: #1a1a1a;
          margin-bottom: 20px;
        }

        li {
          padding-bottom: 14px;
        }

        li:last-child {
          padding-bottom: 0;
        }

        a {
          color: #999999;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0px;

          &:hover {
            color: #1a1a1a;

          }

        }

        .contacts {
          a {
            display: block;
            color: #1a1a1a;
            padding-bottom: 14px;

            &:hover {
              color: #e83c4d;
            }
          }
        }
      }

      .price-list {
        position: absolute;
        bottom: 0;

        span {
          color: #1a1a1a;
        }

        position: relative;

        i {
          font-style: normal;

          &:after {
            color: #1a1a1a;
            content: '\e901';
            font-family: icomoon;
            position: absolute;
            right: -20px;
            top: 50%;
            font-size: 12px;
            transform: translateY(-50%);
          }

        }
      }

      .social_link {

        margin-top: 20px;

        a {
          color: #1a1a1a;

          &:before {
            font-family: 'icomoon';
            font-size: 25px;
            margin-right: 20px;


          }

          &:hover {
            color: #e83c4d;
          }
        }

        .facebook {
          &:before {
            content: "\e904";
          }
        }

        .instagram {
          &:before {
            content: "\e907";
          }
        }

        .twitter {
          &:before {
            content: "\e914";
          }
        }

        .youtube {
          &:before {
            content: "\e917";
          }
        }
      }
    }

  }
}

.footer_bot {
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}


.header_bottom_menu_btn {
  display: none;
  font-family: Geometria-Bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;

  a {
    display: block;
    position: relative;

    &:after {
      content: '\e900';
      text-align: center;
      font-family: icomoon;
      font-size: 6px;
      position: absolute;
      top: 5px;
      right: 0px;
    }
  }

}

.hiden_menu_iner li ul li a:hover {
  color: #1a1a1a;
}

.hiden_menu_iner .close_btn:hover:after {
  color: #e83c4d;
}

.sliderImg {
  width: 100%;
  height: auto;
  display: block;
}

.group {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  background-color: #e6e6e6;

  .group_bag {
    position: relative;
    height: 45px;
    width: 55px;
    padding: 15px;
    cursor: pointer;
    display: inline-block;

    &:after {
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "\e906";
      font-family: 'icomoon';
    }

    &:hover {
      color: #e83c4d;
    }
  }

  .group_heart {
    position: relative;
    height: 45px;
    width: 55px;
    padding: 15px;
    cursor: pointer;
    display: inline-block;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      content: "\e911";
      font-family: 'icomoon';
    }

    &:hover {
      color: #e83c4d;
    }

  }

  &:hover {
    display: block;
  }

}

.prod-item:hover .group {
  display: block;
}

.kart_nav {
  ul {
    li {
      font-family: Geometria-Bold, sans-serif;
      margin-top: 12px;
      margin-bottom: 16px;
      display: inline-block;
      margin-right: 25px;
      position: relative;

      &:after {
        position: absolute;
        content: "\e900";
        font-family: 'icomoon';
        font-size: 10px;
        transform: rotate(-90deg);
        right: -23px;
        top: 2px;
      }

      a {
        font-size: 12px;
        color: #1a1a1a;

      }

    }

    li:last-child {
      font-family: Geometria, sans-serif;

      &:after {
        content: "";
      }
    }

  }

  margin-bottom: 30px;
}

.kart-content {
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;

  .kart-left {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-right: 15px;
  }

  .kart-right {
    display: inline-block;
    width: 50%;
    margin-left: 15px;
  }

  .kart-left_description {
    min-width: 525px;;
    position: absolute;
    margin-left: 17px;
    bottom: 120px;
    z-index: 10;
    background-color: #f6f4f4;
    padding: 8px;
    font-size: 14px;
    margin: 12px 30px 12px 15px;
    display: flex;
    justify-content: space-between;

    .kart-left_description_text {
      letter-spacing: 1px;
    }

    .kart-left_description_timer {
      font-family: Geometria-Bold, sans-serif;
      letter-spacing: 2px;
      color: #999999;
      position: relative;

      &:before {
        position: absolute;
        content: "\e91b";
        font-family: icomoon;
        font-size: 15px;
        left: -22px;
        top: -1px;
      }

    }

  }

  .kart-left_slider-inner {
    display: block;
    margin: 0px 5px;
    margin-top: 15px;

  }
}


.kart-right_title {
  font-size: 24px;
  letter-spacing: 3px;
  font-family: Geometria-Bold, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.kart-right_links {
  margin-bottom: 15px;
  font-size: 14px;
  color: #999999;
}

.kart-right {
  .kart-right_links {
    display: flex;

  }

  .kart-right_links_reviews {
    display: flex;
    margin-right: 30px;

    ul {
      .active {
        display: inline-block !important;

        &:after {
          color: #e83c4d;
        }

      }

      li {
        position: relative;
        display: inline-block;
        top: -3px;

        &:after {
          color: #1a1a1a;
          content: "\e913";
          font-size: 15px;
          font-family: icomoon;
        }
      }
    }
  }

  .kart-right_links_reviews_title {
    margin-left: 10px;
  }

  .kart-right_links_to-choise {
    position: relative;
    margin: 0px 30px;
    padding-left: 25px;
    &:hover{
      &:before{
        color: #e83c4d;
      }
    }

    &:before {
      position: absolute;
      color: #1a1a1a;
      content: '\e906';
      font-family: icomoon;
      font-size: 15px;
      left: 0px;
      top: -3px;
    }
  }

  .kart-right_links_share {
    position: relative;
    margin-left: 25px;
    padding-left: 25px;
    &:hover{
      &:before{
        color: #e83c4d;
      }
    }
    &:before {
      content: "\e90f";
      position: absolute;
      color: #1a1a1a;
      font-family: icomoon;
      font-size: 15px;
      left: 0px;
      top: -3px;
    }
  }
}

.kart-right_buy-btn_select_title {
  text-align: center;
  padding-bottom: 5px;
}

.kart-right_about-prod {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 10px;

  .kart-right_about-prod_item {
    margin-bottom: 5px;
    margin-right: 25px;
    display: flex;
    font-size: 14px;

    .kart-right_about-prod_item_title {
      font-family: Geometria-Bold, sans-serif;
    }

    .kart-right_about-prod_item_text {
      padding-left: 5px;
      font-family: Geometria;
    }
  }
}

.kart-right_color {
  margin-bottom: 15px;
  margin-top: 15px;

  .kart-right_color_title {
    font-size: 14px;
    font-family: Geometria-Bold, sans-serif;
  }

  ul {
    margin-top: 10px;

    li {
      margin-right: 10px;
      border-radius: 50%;
      display: inline-block;
      width: 30px;
      height: 30px;
    }
  }
}

.kart-right_sizes {
  margin-bottom: 20px;
  color: #999999;

  ul {
    li {
      padding: 12px 16px 8px 16px;
      display: inline-block;
    }

    .active {
      color: #1a1a1a;
      border: 1px solid black;
      display: inline-block !important;

    }
  }

  .kart-right_sizes_title {
    margin-bottom: 10px;
    margin-top: 15px;
    display: flex;

    .kart-right_sizes_title_iner-title {
      color: #1a1a1a;
      margin-right: 30px;
      font-size: 14px;
      font-family: Geometria-Bold, sans-serif;
    }

    .kart-right_sizes_title_iner-text {
      padding-left: 20px;
      font-family: Geometria;
      position: relative;

      &:before {
        position: absolute;
        left: 0px;
        content: "\e90e";
        font-family: icomoon;
        font-size: 15px;
      }
    }
  }
}

.kart-right_details_text {
  padding-top: 12px;
}

.kart-right_price {
  .kart-right_price_sale {
    text-align: right;
    font-size: 16px;
    color: #999999;
    text-decoration: line-through;
  }

  .kart-right_price_opt_block {
    font-size: 16px;
    color: #999999;
    display: flex;
    vertical-align: bottom;

    .kart-right_price_opt_block_text {
      margin-top: 1em;
    }

    .kart-right_price_opt_block_price {
      margin-top: 1em;
      margin-left: 5px;
      font-family: Geometria-Bold, sans-serif;
      color: #1a1a1a;
    }
  }

  .kart-right_price-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .kart-right_price-block_price {
    font-size: 30px;
    font-family: Geometria-Bold, sans-serif;

  }
}

.kart-right_buy-btn {
  display: flex;
  justify-content: space-between;

  .kart-right_buy-btn_select {
    margin-right: 25px;
    font-size: 12px;

    .kart-right_buy-btn_select_count {
      border:1px solid black;
      padding: 8px 55px;
      position: relative;
      text-align: center;
      font-size: 14px;

      &:after {
        position: absolute;
        right: 10px;
        content: "\e900";
        font-family: icomoon;
        transform: rotate(-90deg);
        font-size: 7px;
        top: calc(50% - 7px);
      }

      &:before {
        top: calc(50% - 7px);
        position: absolute;
        left: 10px;
        content: "\e900";
        font-family: icomoon;
        transform: rotate(90deg);
        font-size: 7px;
      }
    }
  }

  .buy-one-click {
    margin-right: 15px;

    a {
      padding-bottom: 23px;
      padding-top: 23px;
      border: 1px solid black;
      min-width: 200px;
      &:hover{
        background-color: black;
        color: #fff;
      }
    }
  }

  .to-choise {
    a {
      padding-bottom: 23px;
      padding-top: 23px;
      min-width: 200px;
      text-align: end;
      padding-right: 25px;
      color:#1a1a1a;
      border:1px solid black;
      &:hover{
        background-color: black;
        color: #fff;
      }
      position: relative;

      &:before {
        left: 1em;
        position: absolute;
        content: "\e911";
        font-family: icomoon;
        font-size: 24px;
      }
    }

  }
}

.kart-right_details_title {
  font-family: Geometria-Bold, sans-serif;
  padding: 15px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.kart-right_details_more {
  text-align: end;
  padding-right: 20px;
  color: #999999;
  position: relative;

  &:after {
    top: calc(50% - 6px);
    position: absolute;
    right: 0;
    content: "\e900";
    font-family: icomoon;
    font-size: 6px;
  }
}

.kart-title {
  font-size: 20px;
  font-family: Geometria-Bold, sans-serif;
  color: #1a1a1a;
  letter-spacing: 4px;
  padding: 55px 0px;
  text-align: center;
  text-transform: uppercase;
}

.kart-slider {
  padding-bottom: 60px;
}

.item_title-block {
  display: flex;
}

.title-block_name {

  font-size: 16px;
  font-family: Geometria-Bold, sans-serif;
}

.title-block_date {
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: Geometria, sans-serif;
  color: #999999;
}

.kart-review {
  .black {
    margin-top: 60px;
  }

  margin-bottom: 60px;

  .kart-title {
    border-bottom: 1px solid #e6e6e6;
  }


}

.kart-review_inner {
  .kart-review_item {
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-top: none;
  }

  .item_text {
    padding-top: 25px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1a1a1a;
  }
}

.title-block_review {

  display: flex;
  margin-left: auto;

  ul {
    .active {
      display: inline-block !important;

      &:after {
        color: #e83c4d;
      }

    }

    li {
      position: relative;
      display: inline-block;
      top: -3px;

      &:after {
        color: #1a1a1a;
        content: "\e913";
        font-size: 15px;
        font-family: icomoon;
      }
    }
  }
}

.kart-main {
  border-bottom: 1px solid #e6e6e6;
}

.katal-main {
  .kart_nav {
    background-color: #f6f4f4;
  }
}

.katal_about {
  display: flex;

  .about_image {
    width: 50%;
  }

  .about_info {
    margin-left: 15px;
    width: 50%;

    .about_title {
      padding-bottom: 15px;
      font-size: 24px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: Geometria-Bold, sans-serif;
    }

    .about_text {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1px;
      font-family: Geometria-italic, sans-serif;
      font-style: italic;

    }

  }
}

.row {
  margin: 0px;
}

.filters {
  background-color: orange;
}

.main_content {
  margin-top: 30px;
  padding-top: 25px;

}

.content_head {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  .title {
    margin-top: 0.7em;
    font-family: Geometria, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    color: #999999;
  }

  .head_select-amount {
    display: flex;
    justify-content:start;
    .select-amount_amount {

      ul {
        li {
          a {
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0px;
            border: 1px solid #e6e6e6;
            padding: 10px 16px 14px 16px;
            color: #e6e6e6;

            &:hover {
              padding: 10px 16px 14px 16px;
              border-color: #1a1a1a;
              color: #1a1a1a;
            }

          }


          margin-left: 15px;
          display: inline-block;


        }
      }
    }
  }
.head_sort-by{
  display: flex;
  justify-content: end;
  .sort-by_select{
    .btn{
      margin-left: 15px;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0px;
      cursor: pointer;
      border:1px solid #e6e6e6;
      border-radius: 0;
      padding: 10px 120px 14px 16px;
      position: relative;
      &:after{
        position: absolute;
        top: calc(50% - 6px);
        content: '\e900';
        font-family: icomoon;
        right:15px;
        color: #1a1a1a;
        font-size: 6px;
      }
    }
  }
}
}
.col-sm-3{

}
.col-sm-9{
}
.content {
  .prod-item {
    margin: 0px;
  }

}
.content_foot
{
  border-top:1px solid #e6e6e6;
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  .foot_btn{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color:#999999;
    font-family: Geometria-Bold, sans-serif;
    position: relative;
    &:after{
      top:calc(50% - 10px);
      position: absolute;
      color: #1a1a1a;
      content: "\e900";
      color:#999999;
      font-size: 10px;
      font-family: icomoon;
    }
  }
  .prev{
    padding-left: 22px;
    &:after{
      top:calc(50% - 7px);
      left:0;
      transform: rotate(90deg);
    }
  }
  .next{
    padding-right: 22px;
    &:after{
      top:calc(50% - 9px);
      right:0;
      transform: rotate(-90deg);
    }
  }
  .foot_pages{
    ul{
      li{
        a{
          font-size: 14px;
          letter-spacing: 2px;
          color:#999999;
          font-family: Geometria-Bold, sans-serif;
        }

        margin:0 15px;
        display: inline-block;
      }
    }
  }
}

@import "media";
