<footer class="footer">
    <section class="email_letter">
        <div class="container">
            <div class="email_title">
                Підпишись на новини та акції
            </div>
            <form class="email_form">
                <input type="email" placeholder="Введіть email для підписки" class="email_form_input">
                <button type="submit" class="email_form_btn"></button>
            </form>

        </div>
    </section>
    <div class="container">
        <div class="footer_top">
            <div class="items">
                <div class="item">
                    <div class="title">про компанію</div>
                    <ul>
                        <li><a href="#">Про нас </a></li>
                        <li><a href="#">Галерея</a></li>
                        <li><a href="#">Таблиця розмірів</a></li>
                        <li><a href="#">Новини</a></li>
                        <li><a href="#">Відгуки</a></li>
                        <li><a href="#">Контакти</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">Магазин</div>
                    <ul>
                        <li><a href="#">Жінкам</a></li>
                        <li><a href="#">Чоловікам</a></li>
                        <li><a href="#">Дитям</a></li>
                        <li><a href="#">Sale</a></li>
                        <li><a href="#">Підписка</a></li>
                        <li><a href="#">Подарункові коробки</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">Клієнтам</div>
                    <ul>
                        <li><a href="#">Питання-відповідь</a></li>
                        <li><a href="#">Доставка і оплата</a></li>
                        <li><a href="#">Повернення товару</a></li>
                        <a href="#" class="price-list"><span>Прайс-лист</span><i></i></a>
                    </ul>

                </div>
                <div class="item">
                    <div class="title">Партнерам</div>
                    <ul>
                        <li><a href="#">Опт</a></li>
                        <li><a href="#">Крупний опт</a></li>
                        <li><a href="#">Дропшипінг</a></li>
                        <li><a href="#">Корпоративні замовлення</a></li>
                    </ul>
                </div>
                <div class="item contacts_box">
                    <div class="title">Контакти</div>
                    <div class="inner-contact-box">
                    <div class="contacts">
                        <a href="#">+38 (096) 762-40-96</a>
                        <a href="#">Nesterenkoluda.ln@gmail.com</a>
                    </div>
                    <div class="social_link">
                        <a href="#" class="facebook"></a>
                        <a href="#" class="instagram"></a>
                        <a href="#" class="twitter"></a>
                        <a href="#" class="youtube"></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bot">
            <div class="container">
                <div class="bot-left">
                    ©Сopyright 2018 - V&T SOCKS
                </div>
                <div class="bot-right">
                    <img src="../img/group.svg" alt="wss-logo">
                </div>
            </div>
        </div>
    </div>

</footer>