<div class="hiden_menu">
    <div class="hiden_menu_iner">
        <div class="close_btn"></div>
        <ul>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Таблиця розмірів</a></li>
            <li><a href="javascript:void(0);" class="item">Клієнтам</a>
                <ul class="child">
                    <li><a href="#">Питання-відповідь</a></li>
                    <li><a href="#">Доставка і оплата</a></li>
                    <li><a href="#">Повернення товару</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="item">Партнерам</a>
                <ul class="child">
                    <li><a href="#">Опт</a></li>
                    <li><a href="#">Крупний опт</a></li>
                    <li><a href="#">Дропшипінг</a></li>
                    <li><a href="#">Корпоративні замовлення</a></li>
                </ul>
            </li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">відгуки</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </div>
</div>
<header>
    <div class="container">
        <div class="header_top">

            <div class="top-left">
                <div class="menu-logo">
                    <a href="javascript:void(0);" class="js_logo_btn"><span>MENU</span></a>
                </div>
                <div class="phone">
                    +38 (096) 762-40-96
                </div>
            </div>
            <div class="logo">
                <img src="img/logo.svg" alt="logo" class="img-respons">
            </div>
            <div class="top-right">
                <ul class="icons">
                    <li><a href="#" class="search"></a></li>
                    <li><a href="#" class="heart"><span>4</span></a></li>
                    <li><a href="#" class="bag"><span>4</span></a></li>
                    <li><a href="#" class="user"></a></li>
                </ul>
                <div class="select">
                    <button class="currency">
                        UAH
                    </button>
                    <ul class="currency_list">
                        <li><a href="#">RUB</a></li>
                        <li><a href="#">USD</a></li>
                    </ul>
                    <button class="lang">
                        UA
                    </button>
                    <ul class="lang_list">
                        <li><a href="#">RU</a></li>
                        <li><a href="#">ENG</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav>
            <div class="header_bottom">
                <div class="header_bottom_menu_btn"><a href="javascript:void(0);"class="js_header_bottom_menu_btn">каталог продукції</a></div>
                <ul class="hidden_menu_inner">
                    <li><a href="#" class="women">ЖІНКАМ</a>
                        <div class="hidden_menu">
                            <div class="container">
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/woman-1.svg" alt=""></div>
                                    <div class="hidden_text">Довгі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/woman-2.svg" alt=""></div>
                                    <div class="hidden_text">Класичні шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/woman-3.svg" alt=""></div>
                                    <div class="hidden_text">Короткі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/woman-4.svg" alt=""></div>
                                    <div class="hidden_text">слід, підслідок</div>
                                </a>
                            </div>
                        </div>

                    </li>
                    <li><a href="#" class="men">ЧОЛОВІКАМ</a>
                        <div class="hidden_menu">
                            <div class="container">
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/man-1.svg" alt=""></div>
                                    <div class="hidden_text">Довгі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/man-2.svg" alt=""></div>
                                    <div class="hidden_text">Класичні шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/man-3.svg" alt=""></div>
                                    <div class="hidden_text">Короткі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/man-4.svg" alt=""></div>
                                    <div class="hidden_text">Cлід, підслідок</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" class="kid">ДІТЯМ</a>
                        <div class="hidden_menu">
                            <div class="container">
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/kid-1.svg" alt=""></div>
                                    <div class="hidden_text">Довгі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/kid-2.svg" alt=""></div>
                                    <div class="hidden_text">Класичні шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/kid-3.svg" alt=""></div>
                                    <div class="hidden_text">Короткі шкарпетки</div>
                                </a>
                                <a href="#" class="hidden_item">
                                    <div class="hidden_icons"><img src="img/kid-4.svg" alt=""></div>
                                    <div class="hidden_text">Cлід, підслідок</div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="#">ПІДПИСКА</a></li>
                    <li><a href="#">ПОДАРУНКОВІ КОРОБКИ</a></li>
                </ul>
            </div>


        </nav>
    </div>
</header>