<header>
    <div class="container">
        <div class="header_top">

            <div class="top-left">
                <div class="menu-logo">
                    <a href="#">MENU</a>
                </div>
                <div class="phone">
                    +38 (096) 762-40-96
                </div>
            </div>
            <div class="logo">
                <img src="../img/logo.svg" alt="">
            </div>
            <div class="top-right">
                <ul class="icons">
                    <li><a href="#" class="search"></a></li>
                    <li><a href="#" class="heart"></a></li>
                    <li><a href="#" class="bag"></a></li>
                    <li><a href="#" class="user"></a></li>
                </ul>
                <div class="select">
                    <button class="currency">
                        UAH
                    </button>
                    <button class="lang">
                        UA
                    </button>
                </div>
            </div>
        </div>
        <nav>
            <div class="header_bottom">
                <ul>
                    <li><a href="#">ЖІНКАМ
                    </a>
                        <div class="hidden_menu-woman">
                            <a href="#" class="hidden_item">
                                <div class="hidden_icons"><img src="../img/woman-1.svg" alt=""></div>
                                <div class="hidden_text">Довгі шкарпетки</div>
                            </a>
                            <a href="#" class="hidden_item">
                                <div class="hidden_icons"><img src="../img/woman-2.svg" alt=""></div>
                                <div class="hidden_text">Довгі шкарпетки</div>
                            </a>
                            <a href="#" class="hidden_item">
                                <div class="hidden_icons"><img src="../img/woman-3.svg" alt=""></div>
                                <div class="hidden_text">Довгі шкарпетки</div>
                            </a>
                            <a href="#" class="hidden_item">
                                <div class="hidden_icons"><img src="../img/woman-4.svg" alt=""></div>
                                <div class="hidden_text">Довгі шкарпетки</div>
                            </a>
                        </div></li>
                    <li><a href="#">ЧОЛОВІКАМ</a></li>
                    <li><a href="#">ДІТЯМ</a></li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="#">ПІДПИСКА</a></li>
                    <li><a href="#">ПОДАРУНКОВІ КОРОБКИ</a></li>
                </ul>
            </div>


        </nav>
    </div>
</header>